


#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;

}

.header {
    margin-top: 3rem;
    display: flex;
    justify-content: right;
}

.header button {
    border: none;
    background-color: rgb(var(--green));
    color: black;
}

.header button:hover {
    outline: 2px solid white;
    background-color: rgb(var(--green));
    color: white;
}

.app-header {
    display: inline;
}

.app-header h1 {
    color: white;
    font-weight: 600;
    font-size: 5rem;
    margin: 1.2rem;
    margin-bottom: 0.3rem;
    filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.5));
}

.app-header h3 {
    color: white;
    font-weight: 600;
    font-size: 1rem;
    margin-bottom: 3rem;
    margin-top: 0;
}

.app-header span {
    color: rgb(var(--green));
    filter: drop-shadow(0 0 4px rgba(var(--green), 1));
}

.app-header:hover {
    cursor: crosshair;
}

.app-auth {
    /* border: 2px solid white; */
    border-radius: 5px;
    display: inline;
    padding: .5rem 0;
}

.app-auth p{
    color: white;
    text-decoration: underline solid;
    display: inline;
}

.app-logout {
    background-color: transparent;
}

.playlist-page h3 {
    margin: 0;
    margin-top: 1rem;
    color: white;
    font-size: 1rem;
}

.playlist-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2rem;
    
}

.playlist {
    height: auto;
    width: auto;
    padding: 1rem;
    max-width: 20vw;
}

.playlist-button {
    padding: 1px;
    height: auto;
}

.playlist img {
    max-height: 245px;
    height: 20vw;
}

.playlist h2 {
    font-size: 1rem;
    height: 25px;
}


.input {
    font-family: 'IBM Plex Mono', monospace;
}

.submit-query {
    margin-top: 3rem;
}

.submit-button{
    margin-top: 3rem;
}

.goback-button {
    margin-top: 3rem
}



.submit input {
    border-radius: 5px;
}

.footer {
    text-align: center;
    /* margin-top: 20vw; */
    display: flex;
    justify-content: center;
}

.footer a:hover {
    text-decoration: wavy underline 1px white;
    color: rgb(var(--green))
}

.footer-container {
    margin: 0;
    max-width: 600px;
}

.footer-outline {
    outline: 2px solid white;
}

.footer-container h2 {
    padding-top: 1rem;
}

.footer-container span {
    filter: drop-shadow(0 0 2px rgba(255, 255, 255, .8));
}

.footer-container a {
    color: rgb(var(--green))
}

.footer-container h3 {
    margin-top: 5rem;
}

.footer-container h3 a {
    color: rgb(var(--green))
}

.footer-container div {
    margin: 0 4rem;
}

.footer-container p {
    text-align: left;
    padding: 1rem;
    padding-top: 0;
}



