


#root {
  max-width: 1280px;
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;

}

.section-1 {
    display: flex;
    flex-direction: column;
    min-height: 80vh;
    justify-content: center;
}

.header {
    display: flex;
    justify-content: right;
}

.header button {
    border: none;
    background-color: rgb(var(--green));
    color: black;
}

.header button:hover {
    outline: 2px solid white;
    background-color: rgb(var(--green));
    color: white;
}

.app-header {
    display: inline;
}

.app-header h1 {
    color: white;
    font-weight: 600;
    font-size: 7rem;
    margin: 4rem 0 .8rem;
    filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.5));
}

.app-header h3 {
    color: white;
    font-weight: 600;
    font-size: 1.3rem;
    margin-bottom: 3rem;
    margin-top: 0;
}

.app-header span {
    color: rgb(var(--green));
    filter: drop-shadow(0 0 4px rgba(var(--green), 1));
}

.app-header:hover {
    cursor: crosshair;
}

.app-auth {
    /* border: 2px solid white; */
    border-radius: 5px;
    display: inline;
    padding: .5rem 0;
}

.app-auth p{
    color: white;
    text-decoration: underline solid;
    display: inline;
}

.app-logout {
    background-color: transparent;
}

.playlist-page h3 {
    display: inline-block;
    margin: 0;
    margin-top: 1rem;
    color: white;
    font-size: 1rem;
}

.playlist-container {
    max-width: calc(100vw - 2rem);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2rem;
    
}

.playlist {
    height: auto;
    width: auto;
    padding: 1rem;
    max-width: 20vw;
}

.playlist-button {
    padding: 1px;
}

.playlist img {
    display: block;
    max-height: 245px;
    height: 20vw;
}

.playlist h2 {
    font-size: 1rem;
    height: 25px;
}


.input {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 1.2rem;
}

.submit-query {
    margin-top: 3rem;
    font-size: 1.2rem;
}


.goback-button, .submit-button {
    margin-top: 3rem;
    font-size: 1.2rem;
}



.submit input {
    border-radius: 5px;
}

.footer {
    text-align: center;
    /* margin-top: 20vw; */
    display: flex;
    justify-content: center;
    font-size: 1.2rem;
}

.footer a:hover {
    text-decoration: wavy underline 1px white;
    color: rgb(var(--green))
}

.footer-container {
    margin: 0;
    max-width: 650px;
}

.footer-outline {
    outline: 2px solid white;
}

.footer-container h2 {
    padding-top: 1rem;
}

.footer-container span {
    filter: drop-shadow(0 0 2px rgba(255, 255, 255, .8));
}

.footer-container a {
    color: rgb(var(--green))
}

.footer-container h3 {
    margin-top: 5rem;
}

.footer-container h3 a {
    color: rgb(var(--green))
}

.footer-container div {
    margin: 0 4rem;
}

.footer-container p {
    text-align: left;
    padding: 1rem;
    padding-top: 0;
}

.footer-credits {
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

.footer-credits h3 {
    white-space: nowrap;
    margin-left: 4rem;
}

.github-img-wrapper {
    display: flex;
    justify-content: right;
    align-items: flex-end;
    margin: 0;
    
}

.github-img-wrapper img {
    width: 60px;
    height: 60px;
    margin-left: -3rem;
}

@media only screen and (max-width: 786px) {

    .header {
        width: 90vw;
    }
    
    .header button:hover {
        outline: none;
        background-color: rgb(var(--green));
        color: black;
    }
    
    .app-header h1 {
        display: inline-block;
        font-size: 4rem;
    }
    
    .app-header h3 {
        font-size: 1rem;
    }
    
    
    .app-auth p{
        display: block;
        font-size: 1rem;
    }
    
    .playlist-container {
        padding: 2rem 0;
        
    }
    
    .playlist {
        height: auto;
        width: auto;
        padding: 1rem;
        max-width: 20vw;
    }
    
    .playlist-button {
        height:auto;
    }
    
    .playlist img {
        
        max-height: 245px;
        height: 80px;
        width: 80px;
    }
    
    .playlist h2 {
        font-size: .6rem;
        height: 25px;
    }
    
    
    .input {
        font-family: 'IBM Plex Mono', monospace;
        font-size: 1.2rem;
    }
    
    .submit-query {
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 3rem;
        font-size: 1.2rem;
    }

    .submit-query input {
        display: inline-block;
        width: 200px;
    }
    
    .goback-button, .submit-button {
        margin-top: 3rem;
        font-size: 1.2rem;
    }
    
    .submit input {
        border-radius: 5px;
    }
    
    .footer {
        font-size: 1.2rem;
        display: block;
    }

    .footer-container p {
        font-size: 1rem;
    }
    
    .footer a:hover {
        text-decoration: none;
    }
    
    
    .footer-container h3 {
        font-size: 1rem;
    }
    
    .footer-container div {
        margin: 0;
    }
    

    .arrow-container {
        width: 100vw;
        display: flex;
        justify-content: center;
    }

    .github-img-wrapper img {
        padding-left: 1rem;
        width: 40px;
        height: 40px;
        margin-left: 0;
    }
}




