:root {
    font-family: 'IBM Plex Mono', monospace;

    color: rgba(255, 255, 255, 0.87);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;

    --green: 29, 185, 84;
    --purple: 177, 100, 233;
    --charcoal: 40, 40, 40;
    --black: 25, 20, 20;
}

a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
}
a:hover {
    color: #535bf2;
}

body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

p {
    font-size: 1.2rem;
    display: inline-block;
}

button {
    color: white;
    border-radius: 5px;
    border: 2px solid white;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: transparent;
    cursor: pointer;
    transition: border-color 0.25s;
}
button:hover {
     border-color: rgb(var(--green));
}
button:focus,
button:focus-visible {
    border: 2px solid rgb(var(--green));
    outline: 2px solid rgb(var(--green)); 
}

